.menu-item-selected{
  color:rgb(255, 216, 90);
}

.menu-item-selected > span{
  background-color: rgb(255, 216, 90);
}

.icon-button {
  width: 45px;
  background-color: #484a4d;
  border-radius: 50%;
  padding: 4px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.icon-button:hover {
  background-color: #5a5e66;
}

.delete {
  color: red;
  width: 2rem;
  height: 2rem;
}

.delete > img {
  margin-left:30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.delete > img:hover {
  background-color: #5a5e66;
}

.container {
  display: flex;
}

.container > a {
  width: 120px;
  height: 45px;
}
