.main-container{
  display:flex;
  justify-content: space-evenly;
  width:100%;
  height:40rem;
}

.transactions-display-container{
  width:25%;
}

.portfolio-display-container{
  width:40%;
}

.gas-stats-container{
  width:25%;
}