.main {
  width: 100%;
}

.top {
  width: 100%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.vault-header{
  display:flex;
  align-items: center;
  padding-top:12rem;
}

.vault-header > img{
  width:114px;
  height:120px
}

.vault-header > h1{
  color:#FFFFFF;
  font-size: 60px;
  padding:0.5rem;
}
