.main-container{
  display:flex;
  justify-content: space-evenly;
}

.transactions-display-container{
  background-color: blue;
  width:30%
}

.portfolio-display-container{
  background-color: yellow;
  flex-grow: 1;
}

.gas-stats-container{
  background-color: green;
  width:30%
}