.list {
  list-style: none;
}

.icon-button {
  height: 2rem;
  width: 10rem;
  height: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}


.icon-button > img {
  height: 60px;
}

.icon-button:hover {
  background-color: #5a5e66;
}
