.portfolio-summary {
  color: white;
  width: 534px;
  height: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.chain {
  float: right;
}

.top-area {
  padding-left: 2rem;
}

.top-row {
  display: flex;
  align-items: center;
  margin-bottom: -1rem;
}

.top-row > img {
  padding-left: 17rem;
  height: 60px;
  width: 60px;
}

.total-value {
  font-size: 4rem;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  font-size: 60pxpx;
  line-height: 98px;
  letter-spacing: 0.01em;
  color: #c6c6c6;
}

.balance-title {
  /* Your Balance */
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
  /* padding-bottom: 0.4rem; */
}

.daily-percentage > img {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily-profit-container {
  width: 123px;
  height: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.daily-profit-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  padding-bottom: 0.5rem;
}

.daily-profit-amount {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.bottom-row {
  display: flex;
  padding-left: 2rem;
  justify-content: space-between;
}

.daily-percentage {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  width: 141px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.daily-percentage > img {
  margin-left:1rem;
  margin-top:1rem;
}

.daily-percentage > h5 {
  margin-top:1rem;
}
