.token {
  display: flex;
  align-items: center;
  width: 62rem;
  height: 3rem;
  background: #272829;
  padding: 0.8rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
}

.token-image {
  width: 55px;
  height: 55px;
}

.name{
  width:10rem;
  margin-left:0.4rem;
  margin-top:0.5rem;
}

.name-percentage {
  display: flex;
  flex-direction: column;
}

.piechart-percentage {
  display: flex;
  padding-left: 0.4rem;
}

.piechart-percentage > p {
  padding-top: 0.6rem;
  padding-left: 0.2rem;
  font-size: 20px;
}

.piechart {
  width: 15px;
  height: 50px;
}

.value {
  min-width: 12rem;
  text-align: center;
}

.balance-container {
  min-width: 12rem;
  display:flex;
}

.balance{
  padding-right:0.3rem;
}

.price {
  min-width: 12rem;
}

.profit-loss-percentage-change {
  min-width: 8rem;
  display:flex;
  flex-direction: column;}

.percentage-change-container{
  display:flex;
  align-items: center;
  font-size: 12px;
  padding-top:0.3rem;
}

.arrow-image{
  width:20px;
  height:20px;
  padding-left:0.3rem;
}

.chain {
  width: 50px;
  height: 50px;
}
