.header-container{
  display:flex;
}

.logo{
  display:flex;
  height:100px;
  width:40%;
  background-color: beige;
}

.logo>p{
  justify-content: center;
}

.title{
  flex-grow:1;
  background-color: darkkhaki;
}

.wallet-btns{
  background-color: chocolate;
}
