.assets {
  width: 80em;
  display: flex;
  padding: 1em;
}

.container {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 2rem;
}

.checkbox-menu {
  display: flex;
  justify-content: flex-end;
}

.token-titles {
  display: flex;
}
