.dropdown {
  position: absolute;
  top: 90px;
  width: 150px;
  transform: translateX(-60%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

