* {
  padding: 0px;
  margin: 0px;
}

html{
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

/*
HEADER
*/

.header-container {
  display: flex;
}

.box {
  display: flex;
  height: 10rem;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.logo>img {
  height: 70%;
}

.title {
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.5rem;
  color: #FFFFFF
}

.buttons > button{
  font-size: 1.5rem;
  margin:1rem;
  background-color: chocolate;
  border-color : rgba(255, 4, 242, 0.253);
  border-radius: 8px;
  padding:1rem
}