.btn {
  font-size: 1.5rem;
  margin: 1rem;
  background-color: chocolate;
  border-color: rgba(255, 4, 242, 0.253);
  border-radius: 45px;
  padding: 1rem;
  cursor:pointer;
}


.btn:active {
  background-color: #92320c;
}

.btn:hover {
  background-color: #f54b08;
}