.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  /* width: var(--button-size); */
  /* height: var(--button-size); */
  width: 2.5rem;
  height: 2.5rem;
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  background-color: #5a5e66;
}
