*{
  margin:0;
  padding:0;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

.navbar {
  display: flex;
  align-items: center;
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  list-style: none;
  padding-left: 1rem;
  color: beige;
}


.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-nav{
  display:flex;
  float:right;  
  margin-left: 62rem;
}

.dropdown-title {
  padding-left: 0.5rem;
}

.btn{
  margin-right:1rem;
}

.wallet-name{
  margin-left:2rem;
}