.chain-header {
  display: flex;
  align-items: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chain-image {
  width: 60px;
  height: 60px;
}

.title {
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: 45px;
}

.amount {
  font-size: 45px;
}

.dash {
  font-size: 35px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.spam-tokens {
  font-size: 45px;
  padding-left: 0.5rem;
  font-weight: 500;
}
