.token {
  display: flex;
  align-items: center;
  width: 71rem;
  height: 3rem;
  background: #272829;
  padding: 0.8rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
}

.token-image {
  width: 45px;
  height: 45px;
}

.name-percentage {
  display: flex;
  flex-direction: column;
  height:3.5rem;
}

.name{
  font-size:20px;
  width:15rem;
  height:1.5rem;
  padding-left:0.6rem;
}

.piechart-percentage {
  display: flex;
  padding-left: 0.4rem;
}

.piechart-percentage > p {
  padding-top: 0.4rem;
  padding-left: 0.2rem;
  font-size: 15px;
}

.piechart {
  width: 12px;
  height:12px;
  padding-top:0.8rem;
}

.value {
  width: 12rem;
  text-align: center;
}

.balance-container {
  width: 12rem;

  display:flex;
}

.balance{
  padding-right:0.3rem;
}

.price {
  width: 12rem;

}

.profit-loss-percentage-change {
  min-width: 12rem;
  display:flex;
  flex-direction: column;
}

.percentage-change-container{
  display:flex;
  align-items: center;
  font-size: 12px;
  padding-top:0.3rem;
  padding-left:0.3rem;
}

.arrow-image{
  width:20px;
  height:20px;
  padding-left:0.3rem;
}

.chain {
  width: 50px;
  height: 50px;
}
